<div id='{{ .Get "url" }}' class="post-tags">
	<style>
		#download a::hover {
			transform: scale(0.8);
		}
	</style>
    <script type="text/javascript">
        var url = window.location.href.replace(/#.*/, '') + '{{ .Get "url" }}'
        var text = '{{ .Get "text" }}';
        var div  = document.getElementById('{{ .Get "url" }}');
        div.innerHTML = `<a href='${url}' target="_blank" style="margin: 5px; display: inline-block; box-shadow: none;" download>${text}</a>`
</script>
</div>